/**
 * @name CustomCSS
 * @author Naerin ( [X] to doubt )
 * @version 1
 * @description A custom CSS
 * @updateUrl https://raw.githubusercontent.com/Nyaerin/Theme-for-Discord-1243565/master/customcss.theme.css
 * @downloadUrl https://raw.githubusercontent.com/Nyaerin/Theme-for-Discord-1243565/master/customcss.theme.css
*/

/* Import */
/* @import url(https://tomrdh.github.io/discord-addons/xcores/themes/TATOCB_Core.css); /* Typing at top of chat box */
/* @import url(https://tomrdh.github.io/discord-addons/xcores/themes/SFOMIR_Core.css); /* Show Full Original Message In Replies */
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"); /* Radial Status */
@import url('https://discord-theme-addons.github.io/compact-userarea/src/support/compiled.css'); /* Compact User Area */
@import url('https://pixelmelt.github.io/Spectra/src/oldpop.css'); /* old user popouts */
@import url("https://raw.githack.com/NYRI4/Discolored/master/main.css"); /* colored discord SVGs */
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css'); /* Old New Title Bar */
/* -- */
.emojiItemDisabled-1FvFuF, .stickerUnsendable-2q_h2B {
	-webkit-filter: none;
	filter:none;
}

:root {
    --version001_tatocb: none;
}

/* Fixes for User Area */
.avatarWrapper-2yR4wp {
	position:relative;
	bottom: 20px;
	left:3px;
}

/* Radial Status */
:root {
  --rs-small-spacing: 1px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 1px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 5%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
}

/* Compact User Area */
:root {
    --container-color: var(--background-floating);
}

/* Hide Disccord notices */
*[class^='notice-'] { display: none !important; }

/* Remove Nitro shit, fuck discord */
div[id="guild-header-popout-premium-subscribe"], .separator-2I32lJ, .wrapper-3nSjSv, .heading-3VWlBM, div[class="colorStandard-2KCXvj size16-1P40sf"], div[aria-label="Discord Nitro"], div[class="upsellWrapper-1utsSD"], a[href="/store"], 
div[aria-controls="billing-tab"], div[aria-controls="nitro-server-boost-tab"], p[class="emptyStateSubtext-2hdA9c"], .defaultColor-1_ajX0, .divider-1Jfi9s, .emptyStateHeader-248f_b, div[aria-controls="library-inventory-tab"], .header-2RyJ0Y, .separator-gCa7yv,
.shinyButton-3uFlM-, .h5-18_1nd, .sectionDescription-3KkObU{
	visibility:hidden;
	display:none;
}

/* Main */
.searchBar-6Kv8R2, div[aria-label="Aide"], div[aria-label="Help"], div[id="message-apps"], .customItem-a8hq58, .wrapper-3_530D {
	visibility:hidden;
	display:none;
}

.content-3YMskv {
	bottom: 2px
}
	
.jumpToPresentBar-G1R9s6 {
	background: transparent!important;
	position:fixed;
	bottom:55px;
	left:55%
}

.barButtonMain-3K-jeJ, .span-1mKrMp {
	visibility:hidden;
	display:none;
}

.badgeList-1R1WgZ {
	position:relative;
	right: 28.5%;
	top: 38px;
}

.expandedFolderBackground-1cujaW {
	background: transparent;
}

a[href="/discovery"], div[aria-label="Explore Public Servers"], div[aria-label="Explore les serveurs publics"]{
	display:none;
}

div[class="bd-changelog-button"], div[class="socialLinks-3jqNFy"], .formNotice-2_hHWR {
	display:none;
}

.sidebar-CFHs9e {
	position:relative;
	width:500px;
	padding: 20px
}

.contentColumnDefault-1VQkGM {
	position:relative;
	padding: 20px 10px;
}

.avatarUploaderInner-Oiob_P {
	position:relative;
	width: 60px;
	height: 60px;
	right:15px;
	top:45px;
	border-radius: 5px
}

.headerTagNoNickname-3qrd77 {
	position:relative;
	right: 10px
}

.headerText-1vVs-U {
	position:relative;
	top:8px;
}

.avatarUploaderIndicator-2G-aIZ, .keybind-KpFkfr {
	display:none;
}

.popoutInfo-pKbpvG {
	position: relative;
	padding: 7px 10px 10px;
	top: 5px;
}

.closeButton-1tv5uR {
	border-radius: 2px;
	position:relative;
	width: 50px;
	height: 50px;
	left:250px;
	bottom: 7px;
}

.textArea-1Lj-Ns, .inputDefault-_djjkz {
	resize: vertical;
}

.date-YN6TCS {
	position: relative;
	left:20px
}

.wordmarkWindows-1v0lYD {
	visibility:hidden;
}

/* Chat */

.container-3FojY8 {
    padding: 2px 15px 2px 100px;
    overflow: visible;
}

.avatar-1BDn8e {
    margin: -1px 0px 0px -50px!important;
    width: 65px !important;
    height: 65px !important;
    border: 3px solid lightgray;
    border-radius:5px;
	left:53px;
    
}

.cozyMessage-3V1Y8y.groupStart-23k01U {
    padding-top: 35px;
}

.mentioned-xhSam7:before {
	visibility:hidden;
}

.cozy-3raOZG .messageContent-2qWWxC, .username-1A8OIy {
	left: 6px;
	bottom: 3px;
}

div[class="repliedMessage-VokQwo"] {
	right: 20px;
}

span[class="timestamp-3ZCmNB timestampInline-yHQ6fX"] {
	padding-left:5px!important;
}

.mentioned-xhSam7 {
	background: none;
}

.container-1ov-mD {
	left: 10px;
}

.appMount-3lHmkl{
	border: 4px solid violet;
	border-top: none
}

.scrollableContainer-2NUZem {
	background: transparent;
}

/* Hide Scrollbar */
.chat-3bRxxu ::-webkit-scrollbar-track-piece, 
.chat-3bRxxu ::-webkit-scrollbar-track { visibility:hidden;}
.chat-3bRxxu ::-webkit-scrollbar-thumb{ visibility:hidden; }

div[class="placeholder-37qJjk fontSize16Padding-3Wk7zP"] {
	visibility:hidden;
}

.repliedTextPreview-2NBljf, .threadMessageAccessoryPreview-1uSsue {
	padding-right: 10px;
}


.divider-3_HH5L {
	top: 53px!important;
}

.barButtonBase-2uLO1z {
	left: 840px;
	top: 10px;
	border: 2px solid var(--brand-experiment);;
	border-radius: 6px;
	background-color: var(--brand-experiment);
	box-shadow: var(--elevation-low);
}

.barBase-1c2Rfb {
	background: transparent;
	box-shadow: none;
}

svg[name="Open Logs"] {  /* Message Logger Icons */
	display:none;
}

